<div class="callout primary footer">
	<div class="row">
		<div class="large-4 medium-6 small-12 columns">
			<h5>Navigation</h5>
			<ul class="menu vertical">
				<li class="active"><a href="index.html"><i class="fi-home"></i><span>Home</span></a></li>
				<li>
					<a href="projekte.html"><i class="fi-bookmark"></i><span>Projekte</span></a>
					<!--<ul class="menu">
                      <li><a href="#">Projekt 1</a></li>
                      <li><a href="#">Projekt 2</a></li>
                      <li><a href="#">Projekt 3</a></li>
                    </ul>-->
				</li>
				<li><a href="kontakt.html"><i class="fi-marker"></i><span>Kontakt</span></a></li>
			</ul>
		</div>
		<div class="large-8 medium-6 small-12 columns">
			<h5>Adresse</h5>
			<div class="hr-bottom"></div>
			<p>Steinbeis Transferzentrum, Institut für Sporttechnologie, Fasanenweg 7, 78464 Konstanz</p>
		</div>
	</div>
</div>


<div class="row columns">
	<p>
		<f:cObject typoscriptObjectPath="lib.footernav" />
	</p>
</div>